body {
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.card-title {
    color: hsl(218, 44%, 22%);
    padding: 20px 30px 0 30px;
}
 
.qr-img {
    margin-top: 5px;
    margin-left: -2px;
    margin-right: 8px;
    width: 255px;
    border-radius: 20px;
}

.card {
   background-color: #ffff;
   padding: 20px;
   text-align: center;
   border-radius: 15px;
   width: 375px;
   margin: auto;
}

.card-description {
    color: hsl(220, 15%, 55%);
    padding: 0 30px 30px 30px;
}

.card-icon {
    width: 100%;
    border-radius: 15px;
}

.attribute {
    text-align: center;
    padding: 5rem;
}